# Ignore virtual environment
venv/
*.pyc
__pycache__/

# Ignore SQLite database
db.sqlite3
*.sqlite3

# Ignore environment variables file
.env

# Ignore log files
*.log

# Ignore media and static files
media/
static/

# Ignore compiled files
*.py[cod]
*.so

# Ignore Django migrations
*/migrations/*

# Ignore IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore macOS specific files
.DS_Store
